<!DOCTYPE html>
<!-- 
	Page accessible after logging for Spring security tutorial.
	It will be watched by authorized users only.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World Spring security's !</title>
    </head>
    <body>
    	<!-- We display the username by using Spring Security’s integration with HttpServletRequest#getRemoteUser(). -->
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <!-- The “Sign Out” form submits a POST to /logout. Upon successfully logging out, it redirects the user to /login?logout. -->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>